{% extends 'base.html' %}
{% load tailwind_filters %}
{% block title %}
  Create Leads
{% endblock %}

{% block content %}
  <div class="max-w-lg mx-auto">
    <div class="py-5 border-b border-gray-200">
      <a href="{% url 'leads:lead_list' %}">Go back</a>
    </div>
    <h1 class="text-4xl text-gray-800">Create a new leads</h1>
    <form action="{% url 'leads:create_lead' %}" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">Submit</button>
    </form>
  </div>
{% endblock %}
